@import url(style.css);

/* Hero section styling
------------------------------------------*/
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 .space-between-words {
  line-height: 80px;
  max-width: 20rem;
}

/* Button styling
------------------------------------------*/
.button-main {
  margin-top: 2rem;
}

.subscription-btn {
  margin-top: 1rem;
}

/* Subscription section
------------------------------------------*/
.subscription-container {
  padding: 30px 50px;
}

.subscription img {
  max-width: 20rem;
  filter: drop-shadow(25px 15px 15px rgb(180, 156, 156));
  justify-self: center;
  z-index: -1;
}

/* Background circles 
------------------------------------------*/
.hero-circle-light::before {
  width: 65%;
  background-color: var(--clr-light);
  transform: translateX(-25%);
  top: 33px;
}

.hero-circle-pink::before {
  background-color: var(--clr-pink);
  width: 35%;
  transform: translateX(-50%);
}

.subscription-circle::before {
  width: 65%;
  background-color: var(--clr-pink);
  transform: translateX(45%) translateZ(-1px);
  top: 10px;
}

/* Utility modifications
------------------------------------------*/
.flex-column {
  gap: 2rem;
}

/* Media queries
------------------------------------------*/
@media (max-width: 50em) {
  .even-columns-first {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 .space-between-words {
    line-height: 60px;
  }

  .hero-image {
    max-width: 17rem;
  }

  .button-main {
    margin-top: 1rem;
  }

  .subscription img {
    max-width: 13rem;
  }

  .subscription-container {
    padding: 20px 25px;
  }

  .hero-circle-pink::before {
    width: 28%;
    transform: translateX(0%);
  }

  .hero-circle-light::before {
    width: 40%;
    transform: translateX(-25%);
    top: 23px;
  }

  .subscription-circle::before {
    width: 41%;
    transform: translateX(85%) translateZ(-1px);
  }
}

@media (min-width: 57em) {
  .hero-image {
    max-width: 27rem;
  }
}

@media (max-width: 35.21em) {
  .subscription-circle::before {
    width: 60%;
    transform: translateX(45%) translateZ(-1px);
  }
}

/* Carousel
------------------------------------------*/
.slider-container {
  position: relative;
  overflow-x: hidden;
  height: 450px;
}

.slider-width {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: space-between;
  left: 0;
  top: 0;
  transition: 0.4s ease-in-out;
}

.carousel-item {
  background: var(--clr-light);
  width: 300px;
  height: 450px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px 50px 0 0;
  filter: drop-shadow(4px 2px 2px rgb(188, 188, 188));
  transition: background-color 1s ease-out;
}

.carousel-item:hover {
  background-color: var(--clr-pink);
}

.carousel-item:hover > .post-read-link {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.btn {
  border: 2px solid var(--clr-light); 
  background: var(--clr-light);
  border-radius: 100%;
}

.btn i {
  color: var(--clr-green-600);
  font-size: var(--fs-700);
}

.carousel-arrow-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 240px;
} 

.btn-left {
  position: relative;
  right: 17px;
  visibility: hidden;
}

.btn-right {
  position: relative;
  left: 17px;
}

.carousel-item a {
  text-decoration: none;
  color: var(--clr-green-600);
}

.post-read-link {
  align-self: flex-end;
  padding: 0.5rem 0.3rem;
}

.post-read-link i {
  margin-left: 0.4rem;
}

.carousel-item .post-title {
  margin: 1rem;
  padding: 0 0.8rem;
}

.carousel-item .carousel-time,
.carousel-item address {
  padding: 0 0.8rem;
}

.carousel-item img {
  border-radius: 50px 50px 0 0;
}

.carousel-item address {
  margin: 0.2rem 0 0 1rem;
}
.carousel-time {
  display: block;
  font-size: var(--fs-350);
  margin: 0.7rem 0 0 1rem;
}