@import url(style.css);

.post-container .post-img {
   width: 25rem;
   height: auto;
   margin-top: 1rem;
   margin-bottom: 1rem;
   border-radius: 50px 50px 0 0;
   filter: drop-shadow(0 4px 4px rgb(188, 188, 188));
   text-align: left;
} 

.post-container img:hover {
   cursor: pointer;
}

.post-container ol {
   font-weight: var(--fw-bold);
   list-style: decimal inside;
}

.post-container h1, 
.post-container p,
.post-container ul,
.post-container ol {
   margin: 0 auto;
   max-width: 600px;
}

.post-container ul {
   margin-bottom: 1rem;
}

.post-container ul li {
   list-style: disc inside;
   margin-bottom: 0.4rem;
}

.post-container ol li {
   margin-bottom: 0.1rem;
}


.post-container h1, 
.post-container p {
   margin-bottom: 1rem;
}

.post-container p:last-child {
   margin-bottom: 2rem;
}

.button-back-posts {
   display: inline-block;
   text-decoration: none;
   background-color: var(--clr-green-600);
   color: var(--clr-light);
   padding: 0.5rem 1rem;
   border-radius: var(--border-radius-small);
}

.button-back-posts i {
   margin-right: 0.4rem;
}

.button-back-posts:hover {
   background-color: var(--clr-green-400);
}

@media (max-width: 31.25em) {
   .button-back-posts {
      width: 100%;
   }
}

.error {
   display: block;
}

.post-date-author {
   display: block;
}

/* Modal window
------------------------------------------*/
.modal-container {
   display: none;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.8);
}

.modal-image {
   position: relative;
   top: 5%;
   width: 60%;
}

.modal-container button {
   position: fixed;
   top: 10px;
   right: 10px;
}

.modal-close-btn {
   background-color: var(--clr-dark);
   color: var(--clr-light);
   padding: 1rem;
   size: var(--fs-450);
}

.modal-close-btn:hover {
   transform: scale(0.85);
   transition: 0.3s ease-in-out;
}